@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

.nav{ width: 900px;
    float:right;
    border:5px solid none;}
 
    .nav ul li{
    width: 150px;
    float: left;
    margin: 10px auto;
    text-align: center;
 }
 
 .nav ul li a{ text-decoration: none;
 color:black;}
 
 .nav ul li:hover{ background-color: rgb(180, 117, 182);}
 .nav ul li a:hover{ color:black}



.contact 
{
	position: relative;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #2982ac;
	background-size: cover;
	top: 60px;
	left: 10%;
    width: 80%;
}
.contact .content
{
	max-width: 800px;
	text-align: center;
}
.contact .content h1
{
	font-size: 50px;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: 300;
	color: #FFFFFF;	
}
.contact .content p
{
	font-size: 300;
	color: #FFFFFF;	
}
.container 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
    background: rgb(91, 218, 250);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text
{
	margin-Left: 20px;
	color: #FFFFFF;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3
{
  font-weight: 500;
  color: #FFFFFF;
}
.contactForm
{
width: 60%;
padding: 40px;
background: #fff;
}
.contactForm h2
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #333;
	font-weight: 500;
    text-align: center;
}
.contactForm table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-spacing: 5px;
    
  }
  
table td th {
    border: 10px solid #ddd;
    padding: 20px;

  }
  
table tr:nth-child(even){background-color: #3cd8dd; 
}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 15px;
    padding-bottom: 12px; 
    text-align: left;
    background-color: #ff6e1b;
    color: rgb(255, 255, 255);
  }

section .footer p {
	text-align: center;
	padding: 15px;
	background-color:black;
	color: white;
	top: 1px;
	position: relative;
}

