@charset "utf-8";
/* CSS Document */
body{
    color:black;
    font-family: latha;
    background-size: cover;
   
}

   .box{ width: 900px;
   float:right;
   border:5px solid none;}

   .box ul li{
   width: 150px;
   float: left;
   margin: 10px auto;
   text-align: center;
}

.box ul li a{ text-decoration: none;
color:black;}

.box ul li:hover{ background-color: rgb(180, 117, 182);}
.box ul li a:hover{ color:black}

table{
    position: relative;
    left: 10%;
	bottom: 20%;
	width: 70%;
	border-collapse: collapse;
	border-spacing: 100;
	border-radius: 12px 12px 0 0;
	background: #fff34e;
	box-shadow: 0 2px 12px rgba(32,32,32,.3);
}

.filter .table{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 7;
    
	height: 100vh;
}


th, td{
    padding: 15px 150px;
    text-align: left;

}
th{
background: #000000;
color: #fafafa;
font-family: 'Roboto' , sans-serif;


}

td{
font-family: 'Open Sans', sans-serif;
}



section .footer{
	
    text-align: center;
	padding: 3px;
	background-color:black;
	color: white;
	top: 1px;
	position: relative;
}

